/Algorithms/.vs/Algorithms/DesignTimeBuild/.dtbcache.v2
/Algorithms/.vs/Algorithms/v16/.suo
/Algorithms/bin/Debug/netcoreapp3.1/Algorithms.deps.json
/Algorithms/bin/Debug/netcoreapp3.1/Algorithms.dll
/Algorithms/bin/Debug/netcoreapp3.1/Algorithms.exe
/Algorithms/bin/Debug/netcoreapp3.1/Algorithms.pdb
/Algorithms/bin/Debug/netcoreapp3.1/Algorithms.runtimeconfig.dev.json
/Algorithms/bin/Debug/netcoreapp3.1/Algorithms.runtimeconfig.json
/Algorithms/obj/Algorithms.csproj.nuget.dgspec.json
/Algorithms/obj/Algorithms.csproj.nuget.g.props
/Algorithms/obj/Algorithms.csproj.nuget.g.targets
/Algorithms/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Algorithms/obj/Debug/netcoreapp3.1/Algorithms.AssemblyInfo.cs
/Algorithms/obj/Debug/netcoreapp3.1/Algorithms.AssemblyInfoInputs.cache
/Algorithms/obj/Debug/netcoreapp3.1/Algorithms.assets.cache
/Algorithms/obj/Debug/netcoreapp3.1/Algorithms.csproj.CoreCompileInputs.cache
/Algorithms/obj/Debug/netcoreapp3.1/Algorithms.csproj.FileListAbsolute.txt
/Algorithms/obj/Debug/netcoreapp3.1/Algorithms.csprojAssemblyReference.cache
/Algorithms/obj/Debug/netcoreapp3.1/Algorithms.dll
/Algorithms/obj/Debug/netcoreapp3.1/Algorithms.exe
/Algorithms/obj/Debug/netcoreapp3.1/Algorithms.genruntimeconfig.cache
/Algorithms/obj/Debug/netcoreapp3.1/Algorithms.pdb
/Algorithms/obj/project.assets.json
/Algorithms/obj/project.nuget.cache
